<!DOCTYPE html>
<html>
	<head>
		<title> Trivia Game</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
		<link rel="stylesheet" href="/app.css">
	</head>
	<body>

		
	<div class="container">			
		<% if (error && error.length>0){%>
		<div class="alert alert-danger" role="alert">
			<%=error%>
		</div>		
		<%}%>
		<% if (success && success.length>0){%>			
		<div class="alert alert-success" role="alert">
			<%=success%>
		</div>	
		<%}%>
	</div>