<%- include("partials/header") %>



<% if (user){ %>
	
	<div class="row">
		<h1 style="text-align: center">Your UserID is <%=user._id%></h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/questions/0" method="GET">
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Enter Game</button>
				</div>		
			</form>
		</div>		
	</div>

<%}else{%>

	<div class="row">
		<h1 style="text-align: center; margin: 50px auto;">Sign up to start the game</h1>
		<div style="width: 30%; margin: 25px auto;">
			<form action="/register" method="post">
				<div class="form-group">
					<input class="form-control" type="text" name="username" placeholder="E-mail">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-primary btn-block">Submit</button>
				</div>		
			</form>
		</div>
	</div>
<%}%>



<%- include("partials/footer") %>