body{
	background-image: url(https://images.unsplash.com/photo-1472162072942-cd5147eb3902?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
	opacity: 50;
	font-family: 'Open Sans', sans-serif;
	font-size:medium
}